.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.slider_wrapper {
  display: block;
  padding-bottom: 64px;

  @media (max-width: 1000px) {
    padding-bottom: 21px;
  }
}

.section_products {
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  padding-bottom:250px;
  
  @media (max-width: 1000px) {
    padding-bottom: 63px;
  }
}

.section_title {
  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
