.main {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.slider_wrapper {
  padding-bottom: 64px;

  @media (max-width: 1000px) {
    padding-bottom: 21px;
  }
}

.section_product {
  display: flex;
  flex-direction: column;
  padding-bottom: 250px;

  @media (max-width: 1000px) {
    padding-bottom: 63px;
  }
}

.section_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
