.main {
  display: flex;
  padding-top: 96px;
  column-gap: 35px;

  @media (max-width: 1000px) {
    flex-direction: column;
    padding-top: 17px;
    row-gap: 15px;
  }
}

.outer_wrapper {
  flex-direction: column;
  row-gap: 40px;
}

.wrapper {
  display: flex;
  column-gap: 35px;

  @media (max-width: 1001px) {
    display: none;
  }
}

.search_params__mobile {
  display: none;

  @media (max-width: 1000px) {
    display: block;
  }

}

.product_cards {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;

}
