.root {
  position: relative;
  width: inherit;
  height: inherit;
  padding-top: 80px;
  padding-left: 40px;
  z-index: 0;

  @media (max-width: 1000px) {
    padding-top: 30px;
  }

  @media (max-width: 500px) {
    padding-top: 16px;
    padding-left: 20px;
  }
}

.title {
  width: 80%;
  color: var(--white);
}

.link {
  padding-top: 16px;
}

.buttons {
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

   @media (max-width: 1000px) {
    padding-top: 30px;
  }

  @media (max-width: 500px) {
    padding-top: 16px;
    
  }
  
}

.slider_button {
  all: unset;
  cursor: pointer;
}

.image_container {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  z-index: -1;
}

.image {
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  filter: brightness(75%);
}